<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="tmrv0_2_ros2_control"
    params="mobile_robot_type
            robot_ip
            use_fake_hardware
            fake_sensor_commands 
            is_async:=false
            thread_priority:=50
            gazebo
            robot_namespace">
    <ros2_control name="TmrHardware" type="system" is_async="${is_async}">
      <xacro:if value="${is_async}">
          <properties>
            <async scheduling_policy="detached" print_warnings="true" thread_priority="${thread_priority}" manage_overruns="false"/>
          </properties>
      </xacro:if>
      <hardware>
        <param name="version">1.0.0</param>
        <param name="mobile_robot_type">${mobile_robot_type}</param>
        <param name="robot_type">tmrv0_2</param>
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>

        <xacro:if value="${gazebo}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>

        <xacro:if value="${use_fake_hardware == 0 and gazebo == 0}">
          <plugin>franka_hardware/FrankaHardwareInterface</plugin>
          <param name="robot_ip">${robot_ip}</param>
        </xacro:if>
      </hardware>

      <xacro:macro name="configure_steering_joint" params="joint_name">
        <joint name="${joint_name}">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>
      </xacro:macro>

      <xacro:macro name="configure_driving_joint" params="joint_name">
        <joint name="${joint_name}">
          <command_interface name="velocity"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>
      </xacro:macro>

      <xacro:configure_steering_joint joint_name="${mobile_robot_type}_joint_0"/>
      <xacro:configure_driving_joint joint_name="${mobile_robot_type}_joint_1"/>
      <xacro:configure_steering_joint joint_name="${mobile_robot_type}_joint_2"/>
      <xacro:configure_driving_joint joint_name="${mobile_robot_type}_joint_3"/>

      <xacro:if value="${gazebo}">
        <!-- Rocker Arm -->
        <joint name="rocker_arm_joint">
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>

        <!-- Front caster steering -->
        <joint name="caster_front_left_steering_joint">
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>

        <!-- Front caster joint -->
        <joint name="caster_front_left_joint">
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>

        <!-- Rear caster steering -->
        <joint name="caster_rear_right_steering_joint">
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>

        <!-- Rear caster joint -->
        <joint name="caster_rear_right_joint">
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>
      </xacro:if>

      <xacro:macro name="general_purpose_io" params="prefix command_interface index">
        <gpio name="${prefix}">
          <command_interface name="${command_interface}"/>
          <param name="index">${index}</param>
        </gpio>
      </xacro:macro>

      <!-- Cartesian velocity interfaces -->
      <xacro:general_purpose_io prefix="vx" command_interface="cartesian_velocity" index="0"/>
      <xacro:general_purpose_io prefix="vy" command_interface="cartesian_velocity" index="1"/>
      <xacro:general_purpose_io prefix="vz" command_interface="cartesian_velocity" index="2"/>
      <xacro:general_purpose_io prefix="wx" command_interface="cartesian_velocity" index="3"/>
      <xacro:general_purpose_io prefix="wy" command_interface="cartesian_velocity" index="4"/>
      <xacro:general_purpose_io prefix="wz" command_interface="cartesian_velocity" index="5"/>

    </ros2_control>
    <xacro:if value="${gazebo}">
      <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find franka_gazebo_bringup)/config/franka_gazebo_controllers.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>