<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">

  <xacro:include filename="$(find franka_description)/robots/common/franka_arm.srdf.xacro"/>

  <!-- The ID of the robot model to be used -->
  <xacro:arg name="robot_type" default="fr3" />

  <!-- The prefix of the robot -->
  <xacro:arg name="arm_prefix" default="" />

  <!-- Don't print a prefix for joints, visuals, and links? -->
  <xacro:arg name="no_prefix" default="false"/>

  <!-- Should an end-effector be mounted at the flange?" -->
  <xacro:arg name="hand" default="true" />

  <!-- Which end-effector would be mounted at the flange?" -->
  <xacro:arg name="ee_id" default="franka_hand" />

  <!-- Append an underscore to the user-provided prefix, if non-empty. -->
  <xacro:property name="prefix" value="$(arg arm_prefix)"/>
  <xacro:property name="modified_prefix" value="${prefix + '_' if prefix else ''}"/>

  <xacro:franka_arm_srdf robot_type="$(arg robot_type)"
                      hand="$(arg hand)"
                      ee_id="$(arg ee_id)"
                      no_prefix="$(arg no_prefix)"
                      arm_prefix="${modified_prefix}">
  </xacro:franka_arm_srdf>

</robot>
