export ROBOT_MODEL=panther # set to 'lynx' if using Husarion UGV Lynx
export ROBOT_NAMESPACE=${ROBOT_MODEL:-panther} # no need to change

export OBSERVATION_TOPIC=/${ROBOT_NAMESPACE:-panther}/scan # absolute LIDAR topic
export OBSERVATION_TOPIC_TYPE=laserscan # laserscan | pointcloud
export CAMERA_IMAGE_TOPIC=/${ROBOT_NAMESPACE:-panther}/camera/color/image_raw # absolute camera rgb image topic
export CAMERA_INFO_TOPIC=/${ROBOT_NAMESPACE:-panther}/camera/camera_info # absolute camera info topic
export SLAM=True # set to False if you already have a map
export USE_WIBOTIC_INFO=True # set to False if you do not use WiBotic
